<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>修改密码</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:panel id="Panel1" body-padding="10" show-border="true" show-border-shadow="true" show-header="false" is-fluid="true" auto-scroll="true"
                margin="20">
                <f:items>
                    <f:simple-form id="SimpleForm1" label-width="100" label-align="Top" show-border="false" show-header="false" width="600">
                        <f:items>
                            <f:text-box id="tbxOldPassword" text-mode="Password" label="当前密码" required="true" show-red-star="true"></f:text-box>
                            <f:text-box id="tbxNewPassword" text-mode="Password" label="新密码" required="true" show-red-star="true"></f:text-box>
                            <f:text-box id="tbxConfirmNewPassword" text-mode="Password" label="确认新密码" required="true" show-red-star="true"></f:text-box>
                            <f:button id="btnSave" icon="SystemSave" on-click="btnSave_Click" validate-forms="SimpleForm1" validate-target="Top" text="修改密码">
                            </f:button>
                        </f:items>
                    </f:simple-form>
                </f:items>
            </f:panel>
        </th:block>
    </body>

</html>
