<!DOCTYPE html>
<html xmlns:f="http://fineui.com/java" layout:decorate="~{shared/layout}">

    <head>
        <title>修改密码</title>
    </head>

    <body>
        <th:block layout:fragment="body">
            <f:panel id="Panel1" show-border="false" show-header="false" is-view-port="true" body-padding="10" layout="Fit">
                <f:toolbars>
                    <f:toolbar id="Toolbar1">
                        <f:items>
                            <f:button id="btnClose" icon="SystemClose" text="关闭" click-handler="closeActiveWindow"></f:button>
                            <f:toolbar-separator></f:toolbar-separator>
                            <f:button id="btnSaveClose" validate-forms="SimpleForm1" icon="SystemSaveClose" on-click="btnSaveClose_Click" text="保存后关闭">
                            </f:button>
                        </f:items>
                    </f:toolbar>
                </f:toolbars>
                <f:items>
                    <f:simple-form id="SimpleForm1" show-border="true" show-border-shadow="true" show-header="false" body-padding="10" auto-scroll="true">
                        <f:items>
                            <f:label for="currentUser.name"></f:label>
                            <f:label for="currentUser.chineseName"></f:label>
                            <f:text-box id="tbxPassword" label="新密码" text-mode="Password" required="true" show-red-star="true"></f:text-box>
                            <f:text-box id="tbxConfirmPassword" label="确认密码" text-mode="Password" required="true" show-red-star="true"
                                compare-control="tbxPassword" compare-operator="Equal"></f:text-box>
                        </f:items>
                    </f:simple-form>
                </f:items>
            </f:panel>
        </th:block>
    </body>

</html>
